.cache/
all-the-icons-fonts/
auto-save-list/
elpa/
eshell/
transient/
url/
tutorial/
archive/
server/
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
myconfig.el
bookmarks
emacs_backtrace.txt
network-security.data
.dap-breakpoints
.lsp-session-v1
.org-id-locations
org-roam.db
.mc-lists.el
multisession/
tramp
org-persist/